= form_with url: search_path, class: 'ms-auto me-auto d-flex', method: :get do |f|
  = f.text_field :query, placeholder: 'Search...', class: 'form-control me-2', aria_label: "Search", value: params[:query] || ''
  = f.select :resource, ['all', 'question', 'answer', 'comment', 'user'], {selected: params[:resource] || nil}, {class: 'form-select me-2'}
  = f.submit 'Go', class: 'btn btn-outline-success'
