.alert.alert-dismissible.fade.show.position-relative role="alert" class=(type == 'notice' ? 'alert-info' : 'alert-danger')
  .container
    = message
    button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"